{% extends 'base.html.twig' %}

{% block title %}Nos Services
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/services.css') }}">
{% endblock %}

{% block javascripts %}
	{% block importmap %}
		{{ importmap('app') }}
	{% endblock %}
{% endblock %}

{% block body %}

	<section class="services-section">
		<h2>Nos Services</h2>
		<div class="services-container">


{# boucle sur les services pour afficher les cartes #}
      {% for service in services %}

			<div class="service-card">
				<div class="service-card-title">
					<h3>{{ service.title }}</h3>
				</div>

				<div class="service-card-img">
					<img src="{{ asset(service.image) }}" class="card-img-top" alt="{{ service.title }}">
				</div>

				<div class="service-card-body">
					<p class="description-card">
						<strong>Description:</strong>
						{{ service.description|slice(0, 50) }}...
					</p>

					<p class="price-card">
						<strong>Prix:</strong>
						{{ service.price }} €
					</p>
					<a href="{{ path('app_service_show', { id: service.id }) }}" class="btn-card">Détails</a>
				</div>

			</div>

      {% endfor %}
		</div>


		<div class="section-btn">
			<a href="{{ path('contact_create') }}" class="btn-contact">Contact</a>
		</div>

	</section>


{% endblock %}
