{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
     {# doit afficher la liste des réservations de l'utilisateur connecté #}

    <h1>Mes réservations</h1>

    <div class="reservations-list">      
        {% if reservations is empty %}
         <p>Vous n'avez pas encore de réservations.</p>
        {% else %}   
    

        <ul>
            {% for reservation in reservations %}
               
                <li>
                    <div class="reservation-content">
                        Réservation pour le service : "{{ reservation.service.title }}" <br>
                        le {{ reservation.reservationDate|date('d/m/Y H:i') }} <br>
                        Chien : {{ reservation.dog.name }} <br>
                        statut :
                          {% if reservation.status == '300' %}
                              <span class="badge bg-danger">Annulée</span>
                            {% elseif reservation.status == '200' %}
                              <span class="badge bg-success">Acceptée</span>
                            {% elseif reservation.status == '100' %}
                              <span class="badge bg-warning">En attente</span>
                            {% else %}
                                {{ reservation.status }}
                            {% endif %}
                         <br>
                       
                    </div>

                    <div class="reservation-actions"> 
                     {#gestion du bouton annulé  #}
                        {% if reservation.status == '100' %}

                            <a href="{{ path('reservation_cancel', {'id': reservation.id}) }}" 
                                class="btn-cancel btn-sm"
                                onclick="return confirm('Voulez-vous vraiment annuler cette réservation ?')">Annuler
                            </a>
                        {% endif %}
                    </div>
                </li>

                       
            {% else %}
                <li>Aucune réservation trouvée.</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock %}
