<header>

	{# menu navigation #}
	<nav class="navbar">

		<div class="logo">
			<img src="{{asset('images/logo_niche.webp')}}" class="navbar-logo" alt="logo du site" width="200" height="150">
		</div>


		{% include '_components/nav.html.twig' %}


		{# pour se connecter/déconnecter #}

		<div class="btn-boxprofile">
			{# si user connecté #}
			{% if app.user %}
				{# user connected #}
				<span class="hello">Bonjour,
					{{ app.user.firstName }}</span>

					<a href="{{ path('profile_edit') }}" class="btn btn-profile"><img src="{{asset('images/profile.svg')}}" alt="Profile" /></a>

				<a class="btn-login" href="{{path('app_logout')}}">Se déconnecter</a>


				{# pour admin #}
				{% if is_granted("ROLE_ADMIN") %}
					<a class="btn-login" href="{{ path('app_admin') }}">Admin</a>
				{% endif %}

			{% else %}
				<a class="btn-login" href="{{ path('app_login') }}">Se connecter</a>

				<a href="{{ path('app_register') }}" class="btn-login">S'inscrire</a>
			{% endif %}
		</div>

		{# menu burger #}

		<div class="burger" id="burger">
			<span></span>
			<span></span>
			<span></span>
		</div>

	</div>
</nav>

{# menu mobile #}

<div class="mobile-menu" id="mobile-menu">

	{% include '_components/nav.html.twig' %}

	{% if app.user %}
		<a class="btn-login" href="{{path('app_logout')}}">
			<button>Se déconnecter</button>
		</a>

	{% else %}

		<a class="btn-login" href="{{ path('app_login') }}">
			<button>Se connecter</button>
		</a>
		<a class="btn-login" href="{{ path('app_register') }}">
			<button>S'inscrire</button>
		</a>
	{% endif %}
</div></header>
