<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="La Niche à Toupie">

		<title>
			{% block title %}La Niche à Toupie
			{% endblock %}
		</title>


		<link rel="icon" href="{{ asset('images/favicon.svg') }}" type="image/svg+xml">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>


	<body>
		<button class="sidebar-btn" id="sidebarBtn">☰</button>


		<nav class="sidebar" id="sidebar">
			<h2>Menu</h2>
			<a href="{{ path('app_admin') }}">Tableau de bord</a>
			<a href="#">Contacts</a>
			<a href="{{ path('admin_service_index') }}">Services</a>
			<a href="{{ path('admin_reservation_index') }}">Réservations</a>
			<a href="{{ path('index_admin_comment') }}">Commentaires</a>
			<a href="{{ path('app_logout') }}">Déconnexion</a>
			<a href="{{ path('app_home') }}">Retour</a>
		</nav>

		<div
			class="content" id="content">{# <h1>Tableau de bord</h1>
											<p>Bienvenue dans ton espace admin</p> #}
		</div>


		<main
			class="admin-main">
			{# pour afficher les messages flash #}
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="flash flash-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}

			{% block body %}{% endblock %}
		</main>

	</body>
</html>
