<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="La Niche à Toupie">

		<title>
			{% block title %}La Niche à Toupie
			{% endblock %}
		</title>


		<link rel="icon" href="{{ asset('images/favicon.svg') }}" type="image/svg+xml">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</head>

	<body>

		<header>
			{% block header %}
				{% include "components/header.html.twig" %}
			{% endblock %}
		</header>

		<main>
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="flash flash-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}

			{% block body %}{% endblock %}
		</main>

		<footer>
			{% block footer %}
				{% include "components/footer.html.twig" %}
			{% endblock %}
		</footer>

	</body>
</html>
