{% extends 'baseAdmin.html.twig' %}



{% block body %}
  <h1>Liste des commentaires</h1>
    <table>
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Date</th>
                <th>Service</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>

       
        
        <tbody>

            {% for comment in comments %}
                <tr>

                    <td>{{ comment.user.pseudo }}</td>
                    <td>{{ comment.createdAt|date('d/m/Y H:i') }}</td>
                    <td>{{ comment.service.title }}</td>
                    <td>{{ comment.content }}</td>
                    

                    <td>
                    {# case action avec boutons#}
                      
                        <a href="{{ path('admin_comment_delete', { id: comment.id }) }}" class="btn btn-danger"  onclick="return confirm('⚠️ Es-tu sûr de vouloir supprimer ce commentaire ?');">Supprimer</a>  
                    </td>
                </tr>
            {% endfor %}
         
        </tbody>
    </table>
{% endblock %}
